In [1]:
import pymongo
from pymongo import MongoClient
import numpy as np
import pandas as pd
import plotly.express as plex
from collections import Counter
from IPython.display import display
import datetime
from tqdm import tqdm

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

# This notebook serves as a pipeline documentation to define underwritting pineapple user risk, For utility purposes.


## Contents

* Data Extraction and feature engineering
    * [Base Asset exposure period](#assets)
    * [Claims history pre having a claim with pineapple](#pastclaims)
    * [Claims with pineapple](#pineappleclaims)
    * [Include more Features](#addfeatures)
    
* Exploration data analysis 
    * [class imbalance and field types](#ci)
    * [Profiling Missing values and Class imbalance](#mb)
    * [Univariate and Multivariate analysis](#corr)
        
* Modeling
    * [Model selection](#ms)
    * [Model performance](#mp)
    * [model optimization](#mo)
    
    
* Executive summary
    * [Problem statement](#ps)
    * [Success evaluation](#sm)
    * [Model Explainer](#me)

* Pyspark implementation of the model
    * [Spark load](#sl)
    * [Pipeline design](#pd)
    * [Results](#R)

In [4]:
def get_collection(collect_col):
    # read the collection to a restricted createdAt date
    cluster = MongoClient(input("input mongoclient ID:"))
    db = cluster["pineapple"]
    collection =  db[collect_col]
    #date restriction set to 2018 to jan 2021
    d0 = datetime.datetime(2021, 1, 1, 12)
    d1 = datetime.datetime(2018, 1, 1, 12)
#     filters= {"createdAt" :  {"$lte" : d0 , "$gt" : d1}  } 
    filters= {  } 
#     cl = collection.find({"createdAt" :  {"$lt" : '2020-12-31T20:15:31Z'} })
    cl = collection.find(filters)
    
    list_cur = list(cl) 
    # Converting to the DataFrame 
    df = pd.DataFrame(list_cur)
    return df

## 1. Asset exposure periods <a id = "assets"></a>

In [7]:
# get the assets data from mongoDB from jan2018-jan2021
assets_all = get_collection("asset_register")

In [8]:
assets_all.shape

(531103, 11)

In [9]:
df=assets_all
r = df.apply(lambda x: pd.Series(x['assets']),axis=1).stack().reset_index(level=1, drop=True)
r.name = 'assets'
assets_exp =df.drop('assets', axis=1).join(r)
assets_exp.shape , df.shape

((1338576, 11), (531103, 11))

#### Unwinded views

In [10]:
df=assets_exp
assets_exploded = pd.concat([df.drop(['assets'], axis=1), df['assets'].apply(pd.Series)], axis=1)

In [11]:
assets = assets_exploded.query("subCategory==1 and parentCategory==1")
assets['_id'] = assets['_id'].astype('str')
user_id = assets.user_id.unique()
assets_exploded.shape , assets.shape

((1338576, 64), (840197, 64))

#### Get the assets data from locally written file already exploded as above

In [3]:
assets = pd.read_csv("//Users//tumisangtshikare//Documents//Cookie_monster/Pineapple_underwritting_risk/data/assets_till_jan_21.csv")

In [23]:
assets['_id'] = assets['_id'].astype('str')
assets['createdAt']=assets['createdAt'] + pd.Timedelta(hours=2)
user_id = assets.user_id.unique()

In [12]:
connections = get_collection('connections')

In [13]:
connections['no_connections']=[len(connections.iloc[i].connections) for i in range(len(connections))]

#### Method to Calculate the asset exposure periods for each insured cellphone

In [54]:
records=[]
c=0 # number of people with multiple phones added 
for a in tqdm(range(len(user_id[3500:20000]))):

    df = assets.query("user_id=='{}'".format(str(user_id[a]))).reset_index()
#     display(df)

#     out = [sub_df for _, sub_df in df.groupby(['serial_no'])]
    df = df.loc[:, ~df.columns.duplicated()]
    distinct_items = df.itemId.unique()
    if len(distinct_items)>1:
        
        c+=1
        
        out = [sub_df for _, sub_df in df.groupby(['itemId'])]
        for s in range(len(df["itemId"].unique())):
            df=out[s]
            
#             display(out[s])


            df['time_diff']=df['createdAt'].diff()
            df['shift'] = -df['time_diff'].diff(-1)


            df['diff'] = df[df.status=='insured'].groupby('user_id')['shift'].transform('sum')
            df['status_shift'] = df['status'].shift(1)

#             display(df[['user_id','createdAt','status','status_shift','time_diff','diff']])
#             print(df.query("status_shift=='insured'")['time_diff'].sum())
#             display(df[['user_id','itemId','itemValue','createdAt','time_diff','status_shift']])
            policy_on = df.query("status_shift=='insured'")['time_diff'].sum()
            policy_off = df.query("status_shift=='not_insured'")['time_diff'].sum()
        
            date_cut = df.iloc[-1]['createdAt']
            no_connections = connections.query("user_id=='{}' and createdAt < '{}' ".format(user_id[a],date_cut))["no_connections"].min()
    
#             display(df[['user_id','itemId','imagePath','optionalPhotos','itemValue','createdAt','time_diff','status_shift']])
            if policy_on and type(policy_on)==int or type(policy_on)==float and policy_on>0:
                ins_df = df.query("status=='insured'").reset_index()
                print(policy_on)
                display(ins_df)
                if df.status.iloc[-1]=='not_insured':
                    data = [user_id[a],
                            df.iloc[0]['createdAt'],
                            no_connections,
                            distinct_items[s],
                            df.iloc[0]['itemDescription'],
                            (df["itemValue"].max()+df["itemValue"].min())/2,  
                            ins_df.iloc[0]['imagePath'], 
                            ins_df.iloc[0]['optionalPhotos'], 
                            policy_on/np.timedelta64(1,'M') ,
                            policy_off/np.timedelta64(1,'M'), 
                            'not_active_to_date' ]
                    
                elif df.status.iloc[-1]=='insured':
                    data = [user_id[a],
                            df.iloc[0]['createdAt'],
                            no_connections,
                            distinct_items[s] ,
                            df.iloc[0]['itemDescription'],
                            (df["itemValue"].max()+df["itemValue"].min())/2,  
                            ins_df.iloc[0]['imagePath'],
                            ins_df.iloc[0]['optionalPhotos'] , 
                            policy_on/np.timedelta64(1,'M'), 
                            policy_off/np.timedelta64(1,'M'), 
                            'active_to_date' ]
                else: pass
                records.append(data)
            else: pass
            
    else:

            df['time_diff']=df['createdAt'].diff()
            df['shift'] = -df['time_diff'].diff(-1)
#             display(df["serial_no"].unique() , df[['user_id','serial_no','createdAt','status','time_diff','claimed_on']])
        #     print(i)



            df['diff'] = df[df.status=='insured'].groupby('user_id')['shift'].transform('sum')
            df['status_shift'] = df['status'].shift(1)
        #     df['days_active'] = df.query("status=='insured'")['shift'].sum()
        #     display(df[['user_id','createdAt','status','status_shift','time_diff','diff']])
        #     print(df.query("status_shift=='insured'")['time_diff'].sum())

#             display(df[['user_id','itemId','itemValue','createdAt','time_diff','status_shift']])
            policy_on = df.query("status_shift=='insured'")['time_diff'].sum()
            policy_off = df.query("status_shift=='not_insured'")['time_diff'].sum()
        
            ins_df = df.query("status=='insured'").reset_index()
        
            date_cut = df.iloc[-1]['createdAt']
            no_connections = connections.query("user_id=='{}' and createdAt < '{}' ".format(user_id[a],date_cut))["no_connections"].max()
    
# earliest date of df
# query df.insured the first insured value / average and device=True get earliest.
# tumisang 
# imagePath/optionalPhotos earliest on df
            if policy_on  and type(policy_on)==int or type(policy_on)==float and policy_on>0:
                ins_df = df.query("status=='insured'").reset_index()
    
                if df.status.iloc[-1]=='not_insured':
                    data = [user_id[a],
                            df.iloc[0]['createdAt'],
                            no_connections,
                            distinct_items[0],
                            df.iloc[0]['itemDescription'],
                            (df["itemValue"].max()+df["itemValue"].min())/2, 
                            ins_df.iloc[0]['imagePath'], 
                            ins_df.iloc[0]['optionalPhotos'], 
                            policy_on/np.timedelta64(1,'M') ,
                            policy_off/np.timedelta64(1,'M'), 
                            'not_active_to_date' ]
                elif df.status.iloc[-1]=='insured':
                    data = [user_id[a],
                            df.iloc[0]['createdAt'],
                            no_connections,
                            distinct_items[0] ,
                            df.iloc[0]['itemDescription'] , 
                            (df["itemValue"].max()+df["itemValue"].min())/2, 
                            ins_df.iloc[0]['imagePath'],
                            ins_df.iloc[0]['optionalPhotos'] , 
                            policy_on/np.timedelta64(1,'M'), 
                            policy_off/np.timedelta64(1,'M'), 
                            'active_to_date' ]
                else: pass
                records.append(data)
                
            else:
                pass

100%|██████████| 16500/16500 [27:32<00:00,  9.98it/s]

In [55]:
df_exposure=pd.DataFrame(records,columns = ['id','date_user_created','no_connection','serial_no','bluetoothname','itemvalue','image','additional','policy_on','policy_off','still_insured'])

In [767]:
# df = df_exposure.query('policy_on==policy_on and image==image or additional==additional')
c,c1=0,0
df_exposure["added_image"]=" "
for i in range(len(df_exposure)):
    if df_exposure.iloc[i]["image"] or df_exposure.iloc[i]["additional"] :
        df_exposure["added_image"]=  1
        c+=1
    else:
        df_exposure["added_image"]=  0
        c1+=1
c,c1

(60668, 0)

In [777]:
df_exposure

,id,date_user_created,no_connection,serial_no,bluetoothname,itemvalue,image,additional,policy_on,policy_off,still_insured,added_image
0,5c71be87b633a37bb1daa4ed,2019-02-25 11:11:51.051,0.0,1758202D-D0F3-4D17-2FC9-C9CD4104587F,My Phone,0,None,NaN,NaN,NaN,not_active_to_date,1
1,5ad4938ca459b56053e52242,2018-04-17 09:39:39.488,0.0,e8d75af6027cf6d7,My Test 3,3333,https://cdn.pineapple.co.za/users/risk_items/u...,NaN,NaN,NaN,not_active_to_date,1
2,5ad4938ca459b56053e52242,2018-04-17 10:52:44.758,0.0,AEBEC66D-E677-44C0-9D8A-FBE831040463,My Test 1,1111,https://cdn.pineapple.co.za/users/risk_items/u...,NaN,NaN,-0.001852,not_active_to_date,1
3,5ad4938ca459b56053e52242,2020-10-06 09:50:23.245,0.0,34DB6F39-B8D3-434D-8C53-6A96C36FF509,My Garmin Fenix 6,11000,NaN,NaN,2.676747,0.000010,active_to_date,1
4,5ad4938ca459b56053e52242,2018-04-17 10:52:44.758,0.0,3447DE42-3936-4532-8F0F-A4DF634AF325,My Test 2,2222,https://cdn.pineapple.co.za/users/risk_items/u...,NaN,NaN,-0.001852,not_active_to_date,1
...,...,...,...,...,...,...,...,...,...,...,...,...
60663,5fef085591cca56687dd5f6c,2021-01-01 13:32:37.955,NaN,5fef085591cca594d4dd5f6d,HUAWEI P10 lite,NaN,NaN,NaN,NaN,NaN,not_active_to_date,1
60664,5fef094191cca51580dd5f71,2021-01-01 13:36:33.197,NaN,5fef094191cca503a8dd5f72,Galaxy A10,NaN,NaN,NaN,NaN,NaN,not_active_to_date,1
60665,5fef09f091cca57f10dd5f76,2021-01-01 13:39:28.508,NaN,5fef09f091cca59c8add5f77,Danile’s iPhone,NaN,NaN,NaN,NaN,NaN,not_active_to_date,1
60666,5fef0ac891cca58f73dd5f7b,2021-01-01 13:43:04.532,NaN,5fef0ac891cca57135dd5f7c,Galaxy A10,NaN,NaN,NaN,NaN,NaN,not_active_to_date,1
60667,5fef0d1691cca5573edd5f82,2021-01-01 13:52:54.238,NaN,5fef0d1691cca53140dd5f83,CFH,NaN,NaN,NaN,NaN,NaN,not_active_to_date,1

In [740]:
a = earliest_record(df_exposure.query('policy_on==policy_on'),'date_user_created','id',True)

In [778]:
# sum exposure over a distinct user s
# sum images added and the number of times policies have been off

exposure_per_user = df_exposure.query("policy_on==policy_on").groupby("id").sum()
exposure_per_user['id'] = exposure_per_user.index
exposure_per_user.index = np.arange(0,len(exposure_per_user))
exposure_per_user.head()

   no_connection  policy_on  policy_off  added_image                        id
0            0.0   2.676747    0.000010            1  5ad4938ca459b56053e52242
1            0.0   7.279992    3.807218            1  5ad5cf1df9baae731e2e15d9
2            0.0   7.052406   20.977238            1  5ad5e415f9baae731e2e1dce
3            0.0  14.997848   26.703852            4  5ad5e426f9baae731e2e1ddc
4            0.0  27.047567   31.857939            2  5ad60d00dae5c9162b559175

## 2. Earliest Past Claims History<a id = "pastclaims"></a>

In [144]:
users_a=list(exposure_per_user.query("policy_on==policy_on").id.unique()) # only get for these users that have had an active policies

In [30]:
def get_collection_per_users(collect_col,users_a):
    cluster = MongoClient("enter_mongoID:")
    db = cluster["pineapple"]
    collection =  db[collect_col]
    cl = collection.find({"user_id":{"$in" : users_a }})
    list_cur = list(cl) 
    # Converting to the DataFrame 
    df = pd.DataFrame(list_cur)
    return df

In [31]:
users_vl = get_collection_per_users("users",users_a)

In [731]:
def earliest_record(df,date,on,earliest):
    """pick the earliest record or the latest record using 
    on which collection/dataframe
    date field?
    on which identifier?
    earliest or latest"""
    if earliest== True:
        idx = df.groupby([on])[date].transform(min) == df[date]
        df=df[idx]
        return df
    elif earliest==False:
        idx = df.groupby([on])[date].transform(max) == df[date]
        df=df[idx]
        return df

In [724]:
earliest_user_doc = earliest_record(users_vl,'createdAt')
earliest_user_doc.shape

In [1]:
earliest_user_doc[earliest_user_doc.duplicated('user_id')][['_id', 'marital_status', 'search_string',
       'id_or_passport_number', 'date_of_birth', 'email', 'avatar', 'gender', 'location',
       'validation_code', 'email_validated', 'first_time_login',
       'confirmed_personal_details', 'confirmed_payment_details',
       'confirmation_code', 'confirmation_code_used',
       'claims_history_captured', 'claims_history', 'user_id', 'created_on',
       'createdAt', 'asset_register', 'asset_register_discount', 'connections']]

In [748]:
earliest_user_doc[['_id','avatar', 'gender', 'location',
       'email_validated', 'first_time_login',
       'confirmed_personal_details', 'confirmed_payment_details',
       'confirmation_code', 'confirmation_code_used',
       'claims_history_captured', 'claims_history', 'user_id', 
       'createdAt', 'asset_register_discount', 'connections']].isna().sum()

_id                              0
avatar                        4668
gender                        4694
location                      4694
email_validated               4593
first_time_login              4593
confirmed_personal_details    4593
confirmed_payment_details     4593
confirmation_code             5762
confirmation_code_used        5256
claims_history_captured       4593
claims_history                4315
user_id                          0
createdAt                        0
asset_register_discount       5762
connections                   5762
dtype: int64

In [749]:
### checkpoint
earliest_user_doc = earliest_user_doc.drop_duplicates('user_id').reset_index()

In [779]:
exposure_on = exposure_per_user.query('policy_on==policy_on ').reset_index()
# earliest_user_doc.id = 
# earliest_user_doc = 
checkpoint_data = pd.merge(exposure_on , earliest_user_doc, 
                           left_on= "id" , right_on="user_id",
                          how='left', indicator=True).reset_index()
checkpoint_data.email.isna().sum(),checkpoint_data.shape

(0, (5762, 68))

In [781]:
checkpoint_data["past_claims"] = " "
for i in range(len(checkpoint_data)):
    try:
        if checkpoint_data.iloc[i].claims_history['number_of_claims']:
            checkpoint_data["past_claims"][i] = checkpoint_data.iloc[i].claims_history['number_of_claims']
#             print(checkpoint_data["past_claims"][i])
            
        else:
            checkpoint_data["past_claims"][i] = 0
#             print(checkpoint_data["past_claims"][i])
            
    except Exception as e:
#         print(i,e , earliest_user_doc.iloc[i].claims_history)
        checkpoint_data["past_claims"][i] = 0
   # no past claims in the beginning

In [783]:
checkpoint1 = checkpoint_data[['no_connection', 'policy_on', 'policy_off', 'added_image',
       'id','past_claims']]
checkpoint1.query("past_claims!=0")

,no_connection,policy_on,policy_off,added_image,id,past_claims
41,0.0,68.927531,4.418896,3,5b1664bcb68739346c258cbd,1
55,0.0,11.403727,0.000000,2,5b3b33eaf2be186978fda104,1
78,0.0,108.489024,22.960131,4,5b3b58daf2be186978fdfaa2,1
87,0.0,52.554682,4.935426,2,5b3b7916f2be186978fe2e03,3
94,0.0,-1.553747,11.155922,1,5b3be1547779fe4553cee55b,2
...,...,...,...,...,...,...
4350,0.0,4.348473,0.000936,1,5f1e91ca8d193432224b8afd,1
4361,0.0,5.320340,0.205252,2,5f2037ca8d1934c9d54b8efb,1
4369,0.0,1.474052,0.000005,1,5f2136308d193422854b91c1,1
4376,0.0,4.151333,0.017885,1,5f224e4edf4a7680215eb2cc,2
4385,0.0,0.589371,0.000000,1,5f2375a5c8fda22ffc9a20c3,1

## 3. Pineapple claims <a id = "pineappleclaims"></a>

- pending: The claim is being accessed by the claims assessors and no conclusion has been reached yet
- settled: The claim has been paid
- new: The claim is in a draft state
- close: The claim has been rejected or revoked

In [756]:
claims = get_collection("claims")
claims.shape # claiments

(3001, 31)

In [770]:
df=claims
s = df.apply(lambda x: pd.Series(x['items']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'items'
s=df.drop('items', axis=1).join(s)

In [771]:
cnt=0
for i in range(len(claims)):
    if len(claims['items'][i])>1:
        cnt+=1
cnt

148

In [784]:
df = pd.merge(df_exposure.query("policy_on==policy_on").reset_index(),s, 
              left_on=['id','serial_no'] , right_on=['user_id','items'] , 
              how='left').rename(columns={'items':'claims'})

ind_claims = df.query("claims==claims").index.values
ind_no_claims = df.query("claims!=claims").index.values

In [785]:
df["claimed_on"] = " "
for i in ind_claims:
    df["claimed_on"][i] = 1
    
for i in ind_no_claims:
    df["claimed_on"][i] = 0

In [786]:
df["claimed_on"].sum()

1917

In [792]:
df.itemvalue = pd.to_numeric(df.itemvalue,errors='coerce')
df.claimed_on = pd.to_numeric(df.claimed_on,errors='coerce')
checkpoint2 = df[["id",'claimed_on','itemvalue','policy_on',"policy_off","added_image"]].groupby("id").sum().reset_index()
checkpoint2.index = np.arange(0,len(checkpoint2))
checkpoint2

,id,claimed_on,itemvalue,policy_on,policy_off,added_image
0,5ad4938ca459b56053e52242,0,11000.0,2.676747,0.000010,1
1,5ad5cf1df9baae731e2e15d9,0,12000.0,7.279992,3.807218,1
2,5ad5e415f9baae731e2e1dce,0,1900.0,7.052406,20.977238,1
3,5ad5e426f9baae731e2e1ddc,0,23400.0,14.997848,26.703852,4
4,5ad60d00dae5c9162b559175,0,8299.0,27.047567,31.857939,2
...,...,...,...,...,...,...
5757,5fed894e91cca54ebcdd5b2e,0,23000.0,0.002535,0.001129,2
5758,5fedd33e91cca54182dd5c4d,0,7999.0,0.000360,0.002460,1
5759,5fee095d91cca5ceb0dd5cf5,0,20000.0,0.000135,0.000391,1
5760,5feec5d691cca5cbfadd5e2a,0,5000.0,0.000068,0.000009,1
5761,5feedf4991cca55ab6dd5e96,0,10000.0,0.002483,0.000007,1

In [823]:
checkpoint2.columns

Index(['id', 'claimed_on', 'itemvalue', 'policy_on', 'policy_off',
       'added_image'],
      dtype='object')

In [811]:
a = a.drop_duplicates(['id'],keep='first').reset_index()

In [824]:
checkpoint2 = pd.merge(checkpoint2,a,left_on='id',right_on='id',how='left')[['id', 'claimed_on', 'itemvalue_x', 'policy_on_x', 'policy_off_x',
       'added_image','bluetoothname']]
checkpoint2.columns = ['id', 'claimed_on', 'itemvalue', 'policy_on', 'policy_off',
       'added_image','bluetoothname']

## 4.  More Feature Engineering <a id = "addfeatures"></a>

* Data Extraction and feature engineering
    1. [Has profile picture, has refferal](#4.1)
    2. [Age, Signup/auth type, marital status, os, gender ](#4.2)
    3. [Time Of Day, Day Of Week(Buy policy and signup) ](#4.3)
    4. [Time taken from signup to buy first policy(Buy policy and signup) ](#4.4)
    5. [device models](#4.5)
    6. [Asset picture and optional pictures](#4.6)

#### 4.1.  Has profile and refferal 👨‍👨‍👦‍👦 <a id = "4.1"></a>

In [38]:
users = get_collection("v2_users")

In [825]:
# has profile picture
users["has_avatar"] = " "
for i in tqdm(range(len(users))):
    if type(users.iloc[i]['avatar'])== str:
        users["has_avatar"][i] = 'yes'
    else: 
        users["has_avatar"][i] = 'No'

100%|██████████| 46244/46244 [00:28<00:00, 1602.53it/s]

In [41]:
matches = get_collection("matched_invites")

In [42]:
# has reffereal

matches.user_id = matches.user_id.astype(str)
users["has_refferal"] = ""
for i, id_x in tqdm(enumerate(users._id.values)):
    if id_x in matches.user_id.values:
        users["has_refferal"][i] = 'yes' 
    else: 
        users["has_refferal"][i] = 'No'

46244it [00:17, 2670.71it/s]

#### 4.2  Age, Signup/auth type, marital status, os, gender<a id = "4.2"></a>

In [829]:
users['DOB'] = ""
for i in range(len(users)):
    try:
        if users['id_or_passport_number'][i][0:1] != '0':
            year=1900+int(users['id_or_passport_number'][i][0:2])
            month = users['id_or_passport_number'][i][2:4]
            day = users['id_or_passport_number'][i][4:6]
            date = datetime.date(year, int(month), int (day))
            users['DOB'][i] = date
        else:
            year=2000+int(users['id_or_passport_number'][i][0:2])
            month = users['id_or_passport_number'][i][2:4]
            day = users['id_or_passport_number'][i][4:6]
            date = datetime.date(year, int(month), int (day))
            users['DOB'][i] = date
#             print(year, users['id_or_passport_number'][i] , date)
    except Exception as e:
        users['DOB'][i] = np.nan
#         print(e, users['_id'][i], users['id_or_passport_number'][i])

In [833]:
users['DOB'] = pd.to_datetime(users['DOB'])

In [834]:
users.DOB = users.DOB.fillna(users.date_of_birth)

In [835]:
# Age of users up until DEC 2020
users["AGE"]=(datetime.datetime(2020, 12, 31,12) - users.DOB)/np.timedelta64(1,'Y')
b = [18,25,30,35,60,100]
l = ['18-25','25-30','30-35','35-60','>60']
users['AGE_cat'] = pd.cut(pd.to_numeric(users['AGE'],errors='coerce'), bins=b, labels=l, include_lowest=True)

In [45]:
g_id = users.query("google_id==google_id").index.values
fb_id = users.query("fb_id==fb_id").index.values
apple_id = users.query("apple_id==apple_id").index.values
nones = users.query("apple_id!=apple_id and fb_id!=fb_id and google_id!=google_id").index.values

In [46]:
users["auth_type"] = " "
for i in g_id:
    users["auth_type"][i] = "GOOGLE"
for i in fb_id:
    users["auth_type"][i] = "FACEBOOK"
for i in apple_id:
    users["auth_type"][i] = "APPLE"
for i in nones:
    users["auth_type"][i] = "NOA"

In [852]:
checkpoint3= pd.merge(checkpoint2,users , left_on='id' , right_on='_id', how='left')
checkpoint3['signup'] = checkpoint3.createdAt

In [845]:
list(checkpoint2.columns)

['id',
 'claimed_on',
 'itemvalue',
 'policy_on',
 'policy_off',
 'added_image',
 'bluetoothname',
 'DOB']

In [851]:
checkpoint2

,id,claimed_on,itemvalue,policy_on,policy_off,added_image,bluetoothname,DOB
0,5ad4938ca459b56053e52242,0,11000.0,2.676747,0.000010,1,My Garmin Fenix 6,NaN
1,5ad5cf1df9baae731e2e15d9,0,12000.0,7.279992,3.807218,1,Galaxy Note8,
2,5ad5e415f9baae731e2e1dce,0,1900.0,7.052406,20.977238,1,Ben's Xiaomi Redmi 4A 32 GB smartphone,
3,5ad5e426f9baae731e2e1ddc,0,23400.0,14.997848,26.703852,4,Samsung Galaxy S7 edge,
4,5ad60d00dae5c9162b559175,0,8299.0,27.047567,31.857939,2,G4,
...,...,...,...,...,...,...,...,...
5757,5fed894e91cca54ebcdd5b2e,0,23000.0,0.002535,0.001129,2,Galaxy S10,
5758,5fedd33e91cca54182dd5c4d,0,7999.0,0.000360,0.002460,1,AGM X2,
5759,5fee095d91cca5ceb0dd5cf5,0,20000.0,0.000135,0.000391,1,Ruth ’s iPhone,
5760,5feec5d691cca5cbfadd5e2a,0,5000.0,0.000068,0.000009,1,My Huawei GT11,
5761,5feedf4991cca55ab6dd5e96,0,10000.0,0.002483,0.000007,1,iPhone,

In [855]:
checkpoint3 = checkpoint3[["id","id_or_passport_number","gender","AGE",'marital_status',"os","AGE_cat","auth_type","has_refferal","has_avatar","signup","claimed_on",'id',
 'claimed_on',
 'itemvalue',
 'policy_on',
 'policy_off',
 'added_image',
 'bluetoothname']]
checkpoint3 = checkpoint3.loc[:, ~checkpoint3.columns.duplicated()]
checkpoint3.head()

,id,id_or_passport_number,gender,AGE,marital_status,os,AGE_cat,auth_type,has_refferal,has_avatar,signup,claimed_on,itemvalue,policy_on,policy_off,added_image,bluetoothname
0,5ad4938ca459b56053e52242,9002065345081,Male,30.901387,Unmarried,android,30-35,NOA,No,yes,2018-04-16 12:14:04.225,0,11000.0,2.676747,0.000010,1,My Garmin Fenix 6
1,5ad5cf1df9baae731e2e15d9,9212285039089,Male,28.010158,NaN,android,25-30,NOA,No,yes,2018-04-17 10:40:29.321,0,12000.0,7.279992,3.807218,1,Galaxy Note8
2,5ad5e415f9baae731e2e1dce,7904300038086,Female,41.675052,NaN,NaN,35-60,NOA,No,No,2018-04-17 12:09:57.110,0,1900.0,7.052406,20.977238,1,Ben's Xiaomi Redmi 4A 32 GB smartphone
3,5ad5e426f9baae731e2e1ddc,7609210257086,Female,44.278801,NaN,android,35-60,NOA,No,yes,2018-04-17 12:10:14.483,0,23400.0,14.997848,26.703852,4,Samsung Galaxy S7 edge
4,5ad60d00dae5c9162b559175,8207115029087,Male,38.477176,Unmarried,ios,35-60,GOOGLE,No,yes,2018-04-17 15:04:32.861,0,8299.0,27.047567,31.857939,2,G4

In [682]:
users.DOB.isna().sum()

43237

In [688]:
def get_collection_requests(collect_col,action,action1,iwyze):
    cluster = MongoClient("mongodb+srv://mattacus:z5p4guvcwWgdJU8Q@pineapple-x6x04.mongodb.net/pineapple?ssl=true")
    db = cluster["pineapple"]
    collection =  db[collect_col]
    if iwyze == 'Y':
        cl = collection.find({"type":{"$in" : [action , action1] }})
#         ( { quantity: { $in: [20, 50] } } )
        list_cur = list(cl) 
        # Converting to the DataFrame 
        df = pd.DataFrame(list_cur)
    else :
        cl = collection.find({"action":{"$in" : [action , action1] }})
        list_cur = list(cl) 
        # Converting to the DataFrame 
        df = pd.DataFrame(list_cur)
    return df

In [309]:
all_risk_policy_IQ = get_collection_requests("integration_queue",'createPolicy','endorsement','N')
earliest_policy_all_risk_IQ = earliest_record(all_risk_policy_IQ,"_created")

all_risk_policy = get_collection_requests("iwyze_requests",'createAllRiskPolicy','createEndorsement','Y')
earliest_policy_all_risk = earliest_record(all_risk_policy,'createdAt')

In [856]:
earliest_policy_all_risk['user_id'] = earliest_policy_all_risk['user_id'].astype('str')
earliest_policy_all_risk_IQ['user_id'] = earliest_policy_all_risk_IQ['user_id'].astype('str')
users['_id'] = users['_id'].astype('str')


user_policy_IQ = pd.merge(users,earliest_policy_all_risk_IQ,left_on='_id',right_on='user_id' , how= 'left').\
query("action==action").reset_index() # ceatedAt_y

user_policy_IW = pd.merge(users,earliest_policy_all_risk,left_on='_id',right_on='user_id' , how= 'left').\
query("type==type").reset_index().rename(columns={'createdAt_y':'_created'})

dfs_first_policy = [user_policy_IQ[["user_id","_created"]] , user_policy_IW[["user_id","_created"]] ]

In [857]:
user_policy = pd.concat(dfs_first_policy, ignore_index=True)
user_policy.columns = ["user_id","created_first_policy"]
user_policy=user_policy.drop_duplicates('user_id')

# only 30missing dates

In [342]:
checkpoint3.shape

(5762, 13)

#### 4.4  Time of day and week of day (signup and buy first policy) <a id = "4.5"></a>

In [858]:
checkpoint4= pd.merge(checkpoint3,user_policy , left_on='id' , right_on='user_id', how='left')
checkpoint4['TOD_buypolicy'] =  checkpoint4.created_first_policy.dt.hour 
checkpoint4['DOW_buypolicy'] =  checkpoint4.created_first_policy.dt.dayofweek
checkpoint4['day_name_buypolicy'] =  checkpoint4.created_first_policy.dt.day_name()
checkpoint4.shape

(5762, 22)

In [859]:
checkpoint4['TOD_signup'] =  checkpoint4.signup.dt.hour 
checkpoint4['DOW_signup'] =  checkpoint4.signup.dt.dayofweek
checkpoint4['day_name_buypolicy'] =  checkpoint4.signup.dt.day_name()
checkpoint4.head()

,id,id_or_passport_number,gender,AGE,marital_status,os,AGE_cat,auth_type,has_refferal,has_avatar,...,policy_off,added_image,bluetoothname,user_id,created_first_policy,TOD_buypolicy,DOW_buypolicy,day_name_buypolicy,TOD_signup,DOW_signup
0,5ad4938ca459b56053e52242,9002065345081,Male,30.901387,Unmarried,android,30-35,NOA,No,yes,...,0.000010,1,My Garmin Fenix 6,5ad4938ca459b56053e52242,2018-04-16 12:21:15.904,12.0,0.0,Monday,12.0,0.0
1,5ad5cf1df9baae731e2e15d9,9212285039089,Male,28.010158,NaN,android,25-30,NOA,No,yes,...,3.807218,1,Galaxy Note8,5ad5cf1df9baae731e2e15d9,2018-04-17 10:43:01.724,10.0,1.0,Tuesday,10.0,1.0
2,5ad5e415f9baae731e2e1dce,7904300038086,Female,41.675052,NaN,NaN,35-60,NOA,No,No,...,20.977238,1,Ben's Xiaomi Redmi 4A 32 GB smartphone,5ad5e415f9baae731e2e1dce,2018-04-17 13:32:24.465,13.0,1.0,Tuesday,12.0,1.0
3,5ad5e426f9baae731e2e1ddc,7609210257086,Female,44.278801,NaN,android,35-60,NOA,No,yes,...,26.703852,4,Samsung Galaxy S7 edge,5ad5e426f9baae731e2e1ddc,2018-04-17 15:52:20.982,15.0,1.0,Tuesday,12.0,1.0
4,5ad60d00dae5c9162b559175,8207115029087,Male,38.477176,Unmarried,ios,35-60,GOOGLE,No,yes,...,31.857939,2,G4,5ad60d00dae5c9162b559175,2018-04-18 07:51:53.750,7.0,2.0,Tuesday,15.0,1.0

#### 4.3  Time from signup to get policy <a id = "4.3"></a>

In [860]:
checkpoint4['signup_to_policy'] = np.round((checkpoint4.created_first_policy - checkpoint4.signup)/np.timedelta64(1,'m'),1)
checkpoint4 =  checkpoint4.query("signup_to_policy==signup_to_policy")
checkpoint4.signup_to_policy.isna().sum()
# checkpoint4.drop(['level_0','index'],axis=1)

0

In [861]:
b = [0,5,8,18,24]
l = ['latenight 00-4AM','Early Morning(4AM-8AM)','Work hours(8AM-18PM)','After_work(18-24PM)']

checkpoint4['TOD_signup_cat'] = pd.cut(checkpoint4['TOD_signup'], bins=b, labels=l, include_lowest=True)
checkpoint4['TOD_buypolicy_cat'] = pd.cut(checkpoint4['TOD_buypolicy'], bins=b, labels=l, include_lowest=True)
checkpoint4

,id,id_or_passport_number,gender,AGE,marital_status,os,AGE_cat,auth_type,has_refferal,has_avatar,...,user_id,created_first_policy,TOD_buypolicy,DOW_buypolicy,day_name_buypolicy,TOD_signup,DOW_signup,signup_to_policy,TOD_signup_cat,TOD_buypolicy_cat
0,5ad4938ca459b56053e52242,9002065345081,Male,30.901387,Unmarried,android,30-35,NOA,No,yes,...,5ad4938ca459b56053e52242,2018-04-16 12:21:15.904,12.0,0.0,Monday,12.0,0.0,7.2,Work hours(8AM-18PM),Work hours(8AM-18PM)
1,5ad5cf1df9baae731e2e15d9,9212285039089,Male,28.010158,NaN,android,25-30,NOA,No,yes,...,5ad5cf1df9baae731e2e15d9,2018-04-17 10:43:01.724,10.0,1.0,Tuesday,10.0,1.0,2.5,Work hours(8AM-18PM),Work hours(8AM-18PM)
2,5ad5e415f9baae731e2e1dce,7904300038086,Female,41.675052,NaN,NaN,35-60,NOA,No,No,...,5ad5e415f9baae731e2e1dce,2018-04-17 13:32:24.465,13.0,1.0,Tuesday,12.0,1.0,82.5,Work hours(8AM-18PM),Work hours(8AM-18PM)
3,5ad5e426f9baae731e2e1ddc,7609210257086,Female,44.278801,NaN,android,35-60,NOA,No,yes,...,5ad5e426f9baae731e2e1ddc,2018-04-17 15:52:20.982,15.0,1.0,Tuesday,12.0,1.0,222.1,Work hours(8AM-18PM),Work hours(8AM-18PM)
4,5ad60d00dae5c9162b559175,8207115029087,Male,38.477176,Unmarried,ios,35-60,GOOGLE,No,yes,...,5ad60d00dae5c9162b559175,2018-04-18 07:51:53.750,7.0,2.0,Tuesday,15.0,1.0,1007.3,Work hours(8AM-18PM),Early Morning(4AM-8AM)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757,5fed894e91cca54ebcdd5b2e,8107175006084,NaN,39.460085,Unmarried,android,35-60,NOA,No,No,...,5fed894e91cca54ebcdd5b2e,2020-12-31 09:07:26.040,9.0,3.0,Thursday,8.0,3.0,49.1,Early Morning(4AM-8AM),Work hours(8AM-18PM)
5758,5fedd33e91cca54182dd5c4d,8806135709089,NaN,32.552345,Unmarried,android,30-35,GOOGLE,No,yes,...,5fedd33e91cca54182dd5c4d,2020-12-31 15:21:35.498,15.0,3.0,Thursday,13.0,3.0,107.7,Work hours(8AM-18PM),Work hours(8AM-18PM)
5759,5fee095d91cca5ceb0dd5cf5,9605060055081,NaN,24.656222,Married,ios,18-25,NOA,No,No,...,5fee095d91cca5ceb0dd5cf5,2020-12-31 17:41:49.159,17.0,3.0,Thursday,17.0,3.0,17.1,Work hours(8AM-18PM),Work hours(8AM-18PM)
5760,5feec5d691cca5cbfadd5e2a,7205115443085,NaN,48.643025,Married,android,35-60,GOOGLE,No,yes,...,5feec5d691cca5cbfadd5e2a,2021-01-01 07:04:02.400,7.0,4.0,Friday,6.0,4.0,15.1,Early Morning(4AM-8AM),Early Morning(4AM-8AM)
5761,5feedf4991cca55ab6dd5e96,8008165214086,Male,40.377284,Unmarried,ios,35-60,APPLE,No,No,...,5feedf4991cca55ab6dd5e96,2021-01-01 08:55:32.531,8.0,4.0,Friday,8.0,4.0,18.0,Early Morning(4AM-8AM),Early Morning(4AM-8AM)

# Bucket the continuous variables

In [862]:
b = [0,5,8,18,24]
l = ['latenight 00-4AM','Early Morning(4AM-8AM)','Work hours(8AM-18PM)','After_work(18-24PM)']

checkpoint4['TOD_signup_cat'] = pd.cut(checkpoint4['TOD_signup'], bins=b, labels=l, include_lowest=True)
checkpoint4['TOD_buypolicy_cat'] = pd.cut(checkpoint4['TOD_buypolicy'], bins=b, labels=l, include_lowest=True)
checkpoint4

,id,id_or_passport_number,gender,AGE,marital_status,os,AGE_cat,auth_type,has_refferal,has_avatar,...,user_id,created_first_policy,TOD_buypolicy,DOW_buypolicy,day_name_buypolicy,TOD_signup,DOW_signup,signup_to_policy,TOD_signup_cat,TOD_buypolicy_cat
0,5ad4938ca459b56053e52242,9002065345081,Male,30.901387,Unmarried,android,30-35,NOA,No,yes,...,5ad4938ca459b56053e52242,2018-04-16 12:21:15.904,12.0,0.0,Monday,12.0,0.0,7.2,Work hours(8AM-18PM),Work hours(8AM-18PM)
1,5ad5cf1df9baae731e2e15d9,9212285039089,Male,28.010158,NaN,android,25-30,NOA,No,yes,...,5ad5cf1df9baae731e2e15d9,2018-04-17 10:43:01.724,10.0,1.0,Tuesday,10.0,1.0,2.5,Work hours(8AM-18PM),Work hours(8AM-18PM)
2,5ad5e415f9baae731e2e1dce,7904300038086,Female,41.675052,NaN,NaN,35-60,NOA,No,No,...,5ad5e415f9baae731e2e1dce,2018-04-17 13:32:24.465,13.0,1.0,Tuesday,12.0,1.0,82.5,Work hours(8AM-18PM),Work hours(8AM-18PM)
3,5ad5e426f9baae731e2e1ddc,7609210257086,Female,44.278801,NaN,android,35-60,NOA,No,yes,...,5ad5e426f9baae731e2e1ddc,2018-04-17 15:52:20.982,15.0,1.0,Tuesday,12.0,1.0,222.1,Work hours(8AM-18PM),Work hours(8AM-18PM)
4,5ad60d00dae5c9162b559175,8207115029087,Male,38.477176,Unmarried,ios,35-60,GOOGLE,No,yes,...,5ad60d00dae5c9162b559175,2018-04-18 07:51:53.750,7.0,2.0,Tuesday,15.0,1.0,1007.3,Work hours(8AM-18PM),Early Morning(4AM-8AM)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757,5fed894e91cca54ebcdd5b2e,8107175006084,NaN,39.460085,Unmarried,android,35-60,NOA,No,No,...,5fed894e91cca54ebcdd5b2e,2020-12-31 09:07:26.040,9.0,3.0,Thursday,8.0,3.0,49.1,Early Morning(4AM-8AM),Work hours(8AM-18PM)
5758,5fedd33e91cca54182dd5c4d,8806135709089,NaN,32.552345,Unmarried,android,30-35,GOOGLE,No,yes,...,5fedd33e91cca54182dd5c4d,2020-12-31 15:21:35.498,15.0,3.0,Thursday,13.0,3.0,107.7,Work hours(8AM-18PM),Work hours(8AM-18PM)
5759,5fee095d91cca5ceb0dd5cf5,9605060055081,NaN,24.656222,Married,ios,18-25,NOA,No,No,...,5fee095d91cca5ceb0dd5cf5,2020-12-31 17:41:49.159,17.0,3.0,Thursday,17.0,3.0,17.1,Work hours(8AM-18PM),Work hours(8AM-18PM)
5760,5feec5d691cca5cbfadd5e2a,7205115443085,NaN,48.643025,Married,android,35-60,GOOGLE,No,yes,...,5feec5d691cca5cbfadd5e2a,2021-01-01 07:04:02.400,7.0,4.0,Friday,6.0,4.0,15.1,Early Morning(4AM-8AM),Early Morning(4AM-8AM)
5761,5feedf4991cca55ab6dd5e96,8008165214086,Male,40.377284,Unmarried,ios,35-60,APPLE,No,No,...,5feedf4991cca55ab6dd5e96,2021-01-01 08:55:32.531,8.0,4.0,Friday,8.0,4.0,18.0,Early Morning(4AM-8AM),Early Morning(4AM-8AM)

In [863]:
# checkpoint4.query("signup_to_policy_cat!=signup_to_policy_cat")

In [864]:
b = [0,10,30,60,1440,100000000000]
l = ['0-10min','10-30min','30-60min','1-24hr','>24hr']
checkpoint4['signup_to_policy_cat'] = pd.cut(checkpoint4['signup_to_policy'], bins=b, labels=l, include_lowest=True)
checkpoint4['signup_to_policy'].isna().sum()

0

In [865]:
checkpoint4.itemvalue = pd.to_numeric(checkpoint4.itemvalue , errors='coerce')
b = [0,10000,20000,30000,40000,200000]
l = ['0-10k','10-20k','20-30k','30-40k','>40k']
checkpoint4['itemvalue_cat'] = pd.cut(pd.to_numeric(checkpoint4['itemvalue'],errors='coerce'), bins=b, labels=l, include_lowest=True)

#### 4.5  device models <a id = "4.5"></a>

In [407]:
devices= get_collection("devices")

In [408]:
devices["createdAt"] = devices["createdAt"].fillna(devices["updatedAt"])

In [409]:
first_device = earliest_record(devices,'createdAt')

In [410]:
first_device.shape

(53627, 20)

In [866]:
checkpoint5 = checkpoint4.merge(first_device , left_on='id', right_on="user_id", how='left',indicator=True)

In [867]:
checkpoint5.shape , checkpoint4.shape , first_device.shape

((5731, 50), (5731, 29), (53627, 20))

In [868]:
# checkpoint5 =checkpoint5.drop(['level_0','index'],axis=1)
checkpoint5.head()

,id,id_or_passport_number,gender,AGE,marital_status,os,AGE_cat,auth_type,has_refferal,has_avatar,...,device_id,app_version,app_build_no,app_readable_version,user_id_y,aws_sns_endpoint_arn,__v,updatedAt,createdAt,_merge
0,5ad4938ca459b56053e52242,9002065345081,Male,30.901387,Unmarried,android,30-35,NOA,No,yes,...,msm8916,1.1.0,9,1.1.0.9,5ad4938ca459b56053e52242,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2018-08-29 11:03:23.118,2018-08-29 11:03:23.118,both
1,5ad5cf1df9baae731e2e15d9,9212285039089,Male,28.010158,NaN,android,25-30,NOA,No,yes,...,universal8895,1.1.2.1,11,1.1.2.1.11,5ad5cf1df9baae731e2e15d9,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2018-08-29 17:50:27.411,2018-08-29 13:59:51.966,both
2,5ad5e415f9baae731e2e1dce,7904300038086,Female,41.675052,NaN,NaN,35-60,NOA,No,No,...,QC_Reference_Phone,1.1.0,9,1.1.0.9,5ad5e415f9baae731e2e1dce,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2019-02-27 11:00:47.093,2019-02-27 11:00:47.093,both
3,5ad5e426f9baae731e2e1ddc,7609210257086,Female,44.278801,NaN,android,35-60,NOA,No,yes,...,universal8890,1.1.2.1,11,1.1.2.1.11,5ad5e426f9baae731e2e1ddc,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2019-11-26 08:03:02.595,2018-10-19 15:56:09.536,both
4,5ad60d00dae5c9162b559175,8207115029087,Male,38.477176,Unmarried,ios,35-60,GOOGLE,No,yes,...,QC_Reference_Phone,1.1.0,9,1.1.0.9,5ad60d00dae5c9162b559175,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2020-09-16 15:47:42.319,2020-09-16 15:47:42.319,both

In [699]:
# device or not

idx_not_device = checkpoint5.query("model!=model").index.values
idx_device = checkpoint5.query("model==model").index.values

In [869]:
checkpoint5["app_device"] = " "
for i in idx_device:
    checkpoint5["app_device"][i] = "True"
    
for i in idx_not_device:
    checkpoint5["app_device"][i] = "False"

In [870]:
checkpoint5

,id,id_or_passport_number,gender,AGE,marital_status,os,AGE_cat,auth_type,has_refferal,has_avatar,...,app_version,app_build_no,app_readable_version,user_id_y,aws_sns_endpoint_arn,__v,updatedAt,createdAt,_merge,app_device
0,5ad4938ca459b56053e52242,9002065345081,Male,30.901387,Unmarried,android,30-35,NOA,No,yes,...,1.1.0,9,1.1.0.9,5ad4938ca459b56053e52242,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2018-08-29 11:03:23.118,2018-08-29 11:03:23.118,both,True
1,5ad5cf1df9baae731e2e15d9,9212285039089,Male,28.010158,NaN,android,25-30,NOA,No,yes,...,1.1.2.1,11,1.1.2.1.11,5ad5cf1df9baae731e2e15d9,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2018-08-29 17:50:27.411,2018-08-29 13:59:51.966,both,True
2,5ad5e415f9baae731e2e1dce,7904300038086,Female,41.675052,NaN,NaN,35-60,NOA,No,No,...,1.1.0,9,1.1.0.9,5ad5e415f9baae731e2e1dce,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2019-02-27 11:00:47.093,2019-02-27 11:00:47.093,both,True
3,5ad5e426f9baae731e2e1ddc,7609210257086,Female,44.278801,NaN,android,35-60,NOA,No,yes,...,1.1.2.1,11,1.1.2.1.11,5ad5e426f9baae731e2e1ddc,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2019-11-26 08:03:02.595,2018-10-19 15:56:09.536,both,True
4,5ad60d00dae5c9162b559175,8207115029087,Male,38.477176,Unmarried,ios,35-60,GOOGLE,No,yes,...,1.1.0,9,1.1.0.9,5ad60d00dae5c9162b559175,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2020-09-16 15:47:42.319,2020-09-16 15:47:42.319,both,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5726,5fed894e91cca54ebcdd5b2e,8107175006084,NaN,39.460085,Unmarried,android,35-60,NOA,No,No,...,3.0.6,64,3.0.6.64,5fed894e91cca54ebcdd5b2e,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2021-01-25 13:01:38.931,2020-12-28 06:40:55.622,both,True
5727,5fedd33e91cca54182dd5c4d,8806135709089,NaN,32.552345,Unmarried,android,30-35,GOOGLE,No,yes,...,3.0.6,64,3.0.6.64,5fedd33e91cca54182dd5c4d,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2021-02-12 00:22:00.087,2020-12-31 13:34:17.389,both,True
5728,5fee095d91cca5ceb0dd5cf5,9605060055081,NaN,24.656222,Married,ios,18-25,NOA,No,No,...,3.0.5,3,3.0.5.3,5fee095d91cca5ceb0dd5cf5,arn:aws:sns:us-east-1:250295723782:endpoint/AP...,0.0,2021-02-23 06:42:13.117,2020-12-31 17:24:55.165,both,True
5729,5feec5d691cca5cbfadd5e2a,7205115443085,NaN,48.643025,Married,android,35-60,GOOGLE,No,yes,...,3.0.6,64,3.0.6.64,5feec5d691cca5cbfadd5e2a,arn:aws:sns:us-east-1:250295723782:endpoint/GC...,0.0,2021-02-12 03:49:22.955,2021-01-01 06:49:20.802,both,True
5730,5feedf4991cca55ab6dd5e96,8008165214086,Male,40.377284,Unmarried,ios,35-60,APPLE,No,No,...,3.0.5,3,3.0.5.3,5feedf4991cca55ab6dd5e96,arn:aws:sns:us-east-1:250295723782:endpoint/AP...,0.0,2021-02-23 18:31:32.296,2021-01-01 08:46:58.970,both,True

In [871]:
checkpoint5[['app_device','endpoint_enabled', 'type', 'token', 'name', 'model', 'manufacturer',
       'system_name', 'system_version', 'is_tablet', 'user_agent', 'device_id',
       'app_version', 'app_build_no', 'app_readable_version']]

,app_device,endpoint_enabled,type,token,name,model,manufacturer,system_name,system_version,is_tablet,user_agent,device_id,app_version,app_build_no,app_readable_version
0,True,True,android,eJHtohLkX-M:APA91bHqQhpEkPyiT-me90equKZiBdON4F...,Galaxy J5,SM-J500F,samsung,Android,5.1.1,false,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-J500...,msm8916,1.1.0,9,1.1.0.9
1,True,True,android,fzYiF3k64og:APA91bF5SjaPQ6jVjwbNQn9clweU6UUlhV...,Galaxy Note8,SM-N950F,samsung,Android,8.0.0,false,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-N950...,universal8895,1.1.2.1,11,1.1.2.1.11
2,True,True,android,cTptqQOnfjg:APA91bGlqCyJlEEZBLUmCKtahNUMjKmjBp...,Redmi candy,Redmi 4A,Xiaomi,Android,7.1.2,false,Dalvik/2.1.0 (Linux; U; Android 7.1.2; Redmi 4...,QC_Reference_Phone,1.1.0,9,1.1.0.9
3,True,True,android,d7FogX_Jed8:APA91bFX_yUeK23K5RopCi8SR9HKaBUWoh...,Samsung Galaxy S7 edge,SM-G935F,samsung,Android,8.0.0,false,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G935...,universal8890,1.1.2.1,11,1.1.2.1.11
4,True,True,android,drgYe1nCKH0:APA91bE6lyNntnlW5Pzj67Nn9GnGfMBH_f...,Redmi,Redmi Note 5A Prime,Xiaomi,Android,7.1.2,false,Dalvik/2.1.0 (Linux; U; Android 7.1.2; Redmi N...,QC_Reference_Phone,1.1.0,9,1.1.0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5726,True,True,android,crbm8k2iv3M:APA91bEHGO3knYp3d32JJaCU9s4aCVtvq9...,Galaxy S10,SM-G973F,samsung,Android,10,false,Mozilla/5.0 (Linux; Android 10; SM-G973F Build...,exynos9820,3.0.6,64,3.0.6.64
5727,True,True,android,d5pai70Xk74:APA91bHhEjW5oXsG92R1yWshsRKXrVIYls...,AGM X2,AGM X2,AGM,Android,7.1.2,false,Mozilla/5.0 (Linux; Android 7.1.2; AGM X2 Buil...,msm8952,3.0.6,64,3.0.6.64
5728,True,True,ios,e297da866bb6a903b2235f1942a16187eb2d951621a79f...,Ruth ’s iPhone,iPhone,Apple,iOS,14.2.1,false,Mozilla/5.0 (iPhone; CPU iPhone OS 14_2_1 like...,"iPhone13,2",3.0.5,3,3.0.5.3
5729,True,True,android,d4RkE7D23og:APA91bH8RW283MZ1a13Rm2birAZy_fkFAN...,HUAWEI P30,ELE-L29,HUAWEI,Android,10,false,Mozilla/5.0 (Linux; Android 10; ELE-L29 Build/...,ELE,3.0.6,64,3.0.6.64
5730,True,True,ios,e0447061c7795497ace338323b64803d03b5930f8b1c85...,iPhone,iPhone,Apple,iOS,14.0.1,false,Mozilla/5.0 (iPhone; CPU iPhone OS 14_0_1 like...,"iPhone12,8",3.0.5,3,3.0.5.3

In [872]:
g_id = checkpoint5.query("manufacturer=='samsung'").index.values
fb_id = checkpoint5.query("manufacturer=='Apple'").index.values
apple_id = checkpoint5.query("manufacturer=='HUAWEI'").index.values
nones = checkpoint5.query("manufacturer not in ('samsung','Apple','HUAWEI')").index.values

checkpoint5["phone_manufacturer"] = " "
for i in g_id:
    checkpoint5["phone_manufacturer"][i] = "samsung"
for i in fb_id:
    checkpoint5["phone_manufacturer"][i] = "Apple"
for i in apple_id:
    checkpoint5["phone_manufacturer"][i] = "Huawei"
for i in nones:
    checkpoint5["phone_manufacturer"][i] = "other"

In [873]:
checkpoint5.system_name = checkpoint5.system_name.replace('iPhone OS' , 'iOS')
checkpoint5.gender = checkpoint5.gender.replace('male' , 'Male')
checkpoint5.marital_status = checkpoint5.marital_status.replace('Living Together','LivingTogether')

In [877]:
checkpoint5.to_csv('/Users/tumisangtshikare/Documents/Cookie_monster/Pineapple_underwritting/data/checkpoint5.csv')